<div class="container">
<h2>List of products</h2>
<button type="button" class="btn btn-secondary btn-block" (click)="add()">Add</button>
<table *ngIf="tableMode; else create" class="table table-bordered">
  <thead>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Description</td>
    <td>Category ID</td>
    <td>Date Created</td>
    <td>Date Updated</td>
    <td>Specifications</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of products">
    <ng-template [ngIf]="product?.id != p.id" [ngIfElse]="edit">
      <td>{{p?.id}}</td>
      <td>{{p?.name}}</td>
      <td>{{p?.description}}</td>
      <td>{{p?.categoryId}}</td>
      <td>{{p?.dateCreated | date:"dd/MM/yyyy HH:mm:ss"}}</td>
      <td>{{p?.dateUpdated | date:"dd/MM/yyyy HH:mm:ss"}}</td>
      <td>
        <ul>
          <li *ngFor="let item of p.specificationData | keyvalue">
            {{item.key}} : {{item.value}}
          </li>
        </ul>
      </td>
      <td>
        <button class="btn btn-sm btn-outline-primary mr-2" (click)="editProduct(p)">Edit</button>
        <button class="btn btn-sm btn-outline-danger" (click)="delete(p)">Delete</button>
      </td>
    </ng-template>
  </tr>
  </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
  <td>
    <input type="text" [(ngModel)]="product.name" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="product.description" class="form-control" />
  </td>
  <td>
<!--    <input type="number" [(ngModel)]="product.price" class="form-control" />-->
  </td>
  <td>
    <!--    <input type="number" [(ngModel)]="product.price" class="form-control" />-->
  </td>
  <td>
    <input type="button" value="Save" (click)="save()" class="btn btn-sm btn-success" />
    <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
  <div class="form-group">
    <label>Name</label>
    <input type="text" [(ngModel)]="product.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" [(ngModel)]="product.description" class="form-control" />
  </div>
  <div class="form-group">
<!--    <label>Цена</label>-->
<!--    <input type="number" [(ngModel)]="product.price" class="form-control" />-->
  </div>
  <div>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>
</div>
